{% extends 'base.html.twig' %}

{% block title %}{{ symplyPage.headTitle }}{% endblock %}

{% block head %}

    <meta name="description" content="{{ symplyPage.headDescription }}">

{% endblock %}

{% block body %}

    <header>
        <h1>{{ symplyPage.pageTitle }}</h1>
        <img src="{{ asset(symplyPage.pageHeaderImageURL) }}" class="img-fluid"
             alt="{{ symplyPage.pageHeaderImageAlt }} }}">
        <h2>{{ symplyPage.pageSlogan }}</h2>
    </header>

    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-12 mx-auto">
                    <h2>{{ symplyPage.pageIntroTitle }}</h2>
                    {% for pageIntroParagraph in symplyPage.pageIntro %}
                        <p>{{ pageIntroParagraph }}</p>
                    {% endfor %}
                    {% if symplyPage.pageIntroSignature %}
                        <p id="intro-signature">
                            {% if symplyPage.pageIntroSignatureURL %}
                            <a href="{{ symplyPage.pageIntroSignatureURL }}" target="_blank">
                                {% endif %}
                                {{ symplyPage.pageIntroSignature }}
                                {% if symplyPage.pageIntroSignatureURL %}
                            </a>
                            {% endif %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {% if NULL != symplyPage.sectionOrder %}

        {% for section in symplyPage.sectionOrder %}

            {# switch doesn't works here... Why ???? #}

            {% if section == "video" %}
                {% include 'sections/video.html.twig' %}
            {% endif %}

            {% if section == "photo" %}
                {% include 'sections/photo.html.twig' %}
            {% endif %}

            {% if section == "bandcampAlbum" %}
                {% include 'sections/bandcamp-album.html.twig' %}
            {% endif %}

            {% if section == "onTheInternet" %}
                {% include 'sections/on-the-internet.html.twig' %}
            {% endif %}

        {% endfor %}

    {% endif %}


{% endblock %}

{% block footer %}
    {{ symplyPage.footerSentence }} <a href="{{ symplyPage.footerUrl }}"
                                       target="_blank">{{ symplyPage.footerUrlTitle }}</a>
{% endblock %}

