{% extends 'base.html.twig' %}

{% block title %}{{ symplyPage.headTitle }}{% endblock %}

{% block head %}

    <meta name="description" content="{{ symplyPage.headDescription }}">

    <meta property="og:url" content="{{ app.request.uri }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ symplyPage.headTitle }}"/>
    <meta property="og:description" content="{{ symplyPage.headDescription }}"/>
    <meta property="og:image" content="{{ app.request.uri }}/{{ symplyPage.pageHeaderImageURL }}"/>

    <meta name="twitter:title" content="{{ symplyPage.headTitle }}">
    <meta name="twitter:description" content="{{ symplyPage.headDescription }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ symplyPage.viaShareLinkTwitter }}">
    <meta name="twitter:image" content="absolute url image 280x150px">

    <style>
        #preloader {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: #000000;
            z-index: 9999;
            display: block;
        }

        #preloader #status {
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -60px 0 0 -60px;
            border-radius: 50%;
            border-top: 8px solid #000;
            border-right: 8px solid #fff;
            border-bottom: 8px solid #000;
            border-left: 8px solid #fff;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 1s linear infinite; /* Safari */
            animation: spin 1s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>

{% endblock %}

{% block body %}

    <div id="preloader">
        <div id="status">
        </div>
    </div>


    {% include 'mandatory/header.html.twig' %}


    {% if NULL != symplyPage.sectionOrder %}

        {% for section in symplyPage.sectionOrder %}

            {% set includeSectionTwig = 'sections/' ~ section[0] ~ '.html.twig' %}

            {% include includeSectionTwig %}

        {% endfor %}

    {% endif %}

    {% include 'mandatory/footer.html.twig' %}

    {% include 'mandatory/cookie-alert.html.twig' %}

    {% include 'mandatory/menu.html.twig' %}

{% endblock %}

{% block javascripts %}
{% include'js-script/preloader.html.twig' %}
{% endblock %}