{% extends 'base.html.twig' %}

{% block title %}{{ symplyPage.headTitle }}{% endblock %}

{% block head %}

    <meta name="description" content="{{ symplyPage.headDescription }}">

    <meta property="og:url" content="{{ app.request.uri }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ symplyPage.headTitle }}"/>
    <meta property="og:description" content="{{ symplyPage.headDescription }}"/>
    <meta property="og:image" content="{{ app.request.uri }}/{{ symplyPage.pageHeaderImageURL }}"/>

{% endblock %}

{% block body %}

    <header>
        <h1>{{ symplyPage.pageTitle }}</h1>
        <img src="{{ asset(symplyPage.pageHeaderImageURL) }}" class="img-fluid"
             alt="{{ symplyPage.pageHeaderImageAlt }}">
        <h2>{{ symplyPage.pageSlogan }}</h2>
    </header>

    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-12 mx-auto">
                    <h2>{{ symplyPage.pageIntroTitle }}</h2>
                    {% for pageIntroParagraph in symplyPage.pageIntro %}
                        <p>{{ pageIntroParagraph }}</p>
                    {% endfor %}
                    {% if symplyPage.pageIntroSignature %}
                        <p id="intro-signature">
                            {% if symplyPage.pageIntroSignatureURL %}
                            <a href="{{ symplyPage.pageIntroSignatureURL }}" target="_blank">
                                {% endif %}
                                {{ symplyPage.pageIntroSignature }}
                                {% if symplyPage.pageIntroSignatureURL %}
                            </a>
                            {% endif %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {% if NULL != symplyPage.sectionOrder %}

        {% for section in symplyPage.sectionOrder %}

            {# switch doesn't works here... Why ???? #}

            {% if section == "video" %}
                {% include 'sections/video.html.twig' %}
            {% endif %}

            {% if section == "photo" %}
                {% include 'sections/photo.html.twig' %}
            {% endif %}

            {% if section == "bandcampAlbum" %}
                {% include 'sections/bandcamp-album.html.twig' %}
            {% endif %}

            {% if section == "onTheInternet" %}
                {% include 'sections/on-the-internet.html.twig' %}
            {% endif %}

        {% endfor %}

    {% endif %}

    <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}" target="_blank"
       onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false">
        <button type="button" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-2"></i> Share on Facebook
        </button>
    </a>

{% endblock %}

{% block footer %}
    {{ symplyPage.footerSentence }} <a href="{{ symplyPage.footerUrl }}"
                                       target="_blank">{{ symplyPage.footerUrlTitle }}</a>
{% endblock %}

