{% extends 'base.html.twig' %}

{% block title %}{{ symplyPage.headTitle }}{% endblock %}

{% block head %}

    <meta name="description" content="{{ symplyPage.headDescription }}">

{% endblock %}

{% block body %}

    <header>
        <h1>{{ symplyPage.pageTitle }}</h1>
        <img src="{{ asset(symplyPage.pageHeaderImageURL) }}" class="img-fluid"
             alt="{{ symplyPage.pageHeaderImageAlt }} }}">
        <h2>{{ symplyPage.pageSlogan }}</h2>
    </header>

    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto">
                    <h2>{{ symplyPage.pageIntroTitle }}</h2>
                    {% for pageIntroParagraph in symplyPage.pageIntro %}
                        <p>{{ pageIntroParagraph }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% if NULL != symplyPage.sectionVideoTitle %}
    <section id="video">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h3>{{ symplyPage.sectionVideoTitle }}</h3>

                    {% for videoData in symplyPage.sectionVideoData %}
                        <div class="card">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                        src="https://player.vimeo.com/video/{{ videoData[0] }}?&portrait=0&byline=0"
                                        webkitallowfullscreen mozallowfullscreen allowfullscreen>
                                </iframe>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ videoData[1] }}</h5>
                                <p class="card-text">{{ videoData[2] }}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% if NULL != symplyPage.sectionPhotoTitle %}
        <section id="photo">
            <div class="container">
                <div class="col-12">
                    <h2>{{ symplyPage.sectionPhotoTitle }}</h2>

                    {% for PhotoData in symplyPage.sectionPhotoData %}
                        <div class="card">
                            <img class="card-img-top" src="{{ PhotoData[0] }}"
                                 alt="{{ PhotoData[1] }}"/>
                            <div class="card-body">
                                <h5 class="card-title">{{ PhotoData[1] }}</h5>
                                <p class="card-text">{{ PhotoData[2] }}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}

{% block footer %}
    {{ symplyPage.footerSentence }} <a href="{{ symplyPage.footerUrl }}"
                                       target="_blank">{{ symplyPage.footerUrlTile }}</a>
{% endblock %}

